* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

ul, li {
    position: relative;
    margin: auto 10px;
    font-size: large;
    font-weight: bold;
    font-style: none;
    list-style-type: none;
    
}

.done-task {
    background-color: green;
}