.center {
    width:100%;
    height: auto;
    margin:auto;
}

input {
    margin: 0.5rem;
    padding: 10px;
    outline: none;
    border: 2px solid #BCBDC0;
}

input::placeholder {
    font-weight: bold;
    opacity: 0.5;
}

button {
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button {
    background-color: white;
    color: black;
    border: 2px solid #BCBDC0;
}
  
button:hover {
    background-color: rgba(61, 155, 243, 0.984);
    color: white;
}